// LIST
.staff__list {
  .list__table {
    .ant-dropdown {
      left: 10px !important;
    }
    .ant-table-thead {
      padding-right: 10px;
      .ant-table-cell {
        font-size: 12px;
        padding: 12px 8px;
        color: #666;
        background: #fff;
        &:last-child {
          padding-right: 20px;
        }
      }
    }
    .ant-table-tbody {
      .ant-table-row {
        &:hover > .ant-table-cell {
          background: #f0f0f0;
        }
      }
      .ant-table-cell {
        font-size: 14px;
        padding: 8px 5px;
      }
    }
  }
}

// MODAL PASSWORD
.modal-password {
  .ant-modal-content {
    padding: 0;
    border-radius: 4px;
    .ant-modal-body {
      padding: 20px;
    }
    .ant-modal-header,
    .ant-modal-footer {
      padding: 15px 20px;
      background: #eee;
    }
  }
}
